$text-color:#585656;
$orange: #ffb32f;
$red:#ff7275;
$show-main-color:#a49e90;
$show-border-color: #eeede8;
html{
    scroll-behavior: smooth;
}
header,#main-area{
    margin: 0 auto;
    @media screen and (min-width:769px){//PC
        width: 70%;
    }
}
header{
    #logo{
        a{
            display: flex;
            text-decoration: none;
            color:$text-color;
            &:hover{
                color:#676666;
            }
        }
        h1{
            margin-top: .5em;
        }
        img{
            width: 5rem;
            height: auto;
        }
        p{
            @media screen and (min-width:769px){//PC
                display: none;
            }
            @media screen and (max-width:768px){//SP
                margin-left: 1rem;
            }
        }
    }
}
#footer{
    text-align: center;
}

/*---------------
トップページ
-------------*/
.eyechach{
    position: relative;
}
.eyecatch-img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: 0 80%;
    opacity: .5;
    background-size: cover;
}
@media screen and (min-width:769px){//PC
    .description-pc{
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        font-weight: bold;
        font-size: 2.5rem;
        color: $text-color;
    }
    .eyecatch-img{
        height: 600px;
    }
}
@media screen and (max-width:768px){//SP
    .description-pc{
        display: none;
    }
    .eyecatch-img{
        height: 1000px;
    }
}
.searches{
    position: absolute;
    transform: translate(-50%,-30%);
    .search{
        opacity: .8;
        padding: 0.5em 1em;
        margin: 2em;
        color: black;
        background:white;
        border-bottom: solid 6px white;
        border-radius: 9px;
        width: 100%;
        p{
            font-weight: bold;
            letter-spacing: .2rem;
            font-size: 1.2rem;
            border-bottom: .3rem dotted $show-main-color;
        }
        .emphasis-letter{
            color: tomato;
            font-size: 1.7rem;
        }
    }
}
@media screen and (min-width:769px){//PC
    .searches{
        display: flex;
        justify-content: space-around;
        top: 50%;
        left: 50%;
        margin:0;
        padding:0;
        width: 90%;
    }
}
@media screen and (max-width:768px){//SP
    .searches{
        top: 60%;
        left: 41%;
    }
}
.area-select{
    display: block;
    color: black;
    &:hover{
        color: black;
        text-decoration: none;
    }
}
.feature-select{
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    a{
        padding: 1rem 3rem;
        padding-left: .5rem;
        margin: .5rem;
        width: 14rem;
        text-decoration: none;
        .icon-size{
            font-size: 1.3em;
        }
    }
    .is-private-room{
        border: rgb(110, 204, 110) solid 2px;
        color:   rgb(110, 204, 110);
            a {
            color:   rgb(110, 204, 110);
        }
        &:hover{
            background-color:  rgb(110, 204, 110);
            color: white;
            transition: all .3s;
            a {
                color:  white;
            }
        }
    }
    .is-domitory{
        border: rgb(101, 148, 235) solid 2px;
        color:  rgb(101, 148, 235);
        a {
            color:  rgb(101, 148, 235);
        }
        &:hover{
            background-color:   rgb(101, 148, 235);
            color: white;
            transition: all .3s;
            a {
                color:  white;
            }
        }
    }
    .is-women-only{
        border:$red solid 2px;
        color:$red;
        a {
            color:$red;
        }
        &:hover{
            background-color:  $red;
            color: white;
            transition: all .3s;
            a {
                color:  white;
            }
        }
    }
    .is-foreigner{
        border: $orange solid 2px;
        color: $orange;
        a {
            color: $orange;
        }
        &:hover{
            background-color:  $orange;
            color: white;
            transition: all .3s;
            a {
                color:  white;
            }
        }
    }
    .is_vacancy{
        border: rgb(119, 181, 231) solid 2px;
        color:   rgb(119, 181, 231);
        a {
            color:   rgb(119, 181, 231);
        }
        &:hover{
            background-color:   rgb(119, 181, 231);
            color: white;
            transition: all .3s;
            a {
                color:  white;
            }
        }
    }
    .campaign{
        border: rgb(149, 119, 231) solid 2px;
        color:   rgb(149, 119, 231);
        a {
            color:   rgb(149, 119, 231);
        }
        &:hover{
            background-color:   rgb(149, 119, 231);
            color: white;
            transition: all .3s;
            a {
                color:  white;
            }
        }
    }
}
/*--------
検索結果ページ
-----------*/
#main-area{
    display: flex;
    justify-content: space-between;
}
#side_content{
    width: 28%;
    .key-word{
        font-weight: bold;
        border-bottom: solid 2px #856d53;
    }
    .detail-search{
        .acc{
            display: none;
        }
        .area-table {
            padding: 0;
            margin: 0;
            label{
                padding: .5rem;
                background-color: $show-border-color;
                color: #E58B94;
                border: white 1px solid;
                margin: 0;
                width: 100%;
                cursor: pointer;
            }
            .acc-hidden{
                height: 0;
                padding: 0;
                overflow: hidden;
                opacity: 0;
                transition: 0.3s;
                a {
                    color: $text-color;
                    border-bottom: $show-border-color dotted 2px;
                }
            }
            input.acc:checked ~ .acc-hidden{
                    padding: 10px 0;
                    height: auto;
                    opacity: 1;
            }
        }
    }
    .area-search{
        .key-word{
            margin-top: 2rem;
        }
        .feature-select{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            a{
                padding: .5rem 0.3rem;
                margin: .5rem 0;
                width: 48%;
                text-decoration: none;
                font-size: .6em;
                .icon-size{
                    font-size: 1rem;
                }
            }
        }
    }
}
#main_content{
    width: 70%;
    .search-title{
        font-size: 1.2rem;
        font-weight: bold;
        background: #f0f0f0 ;
        border-top: 3px solid #856d53;
        padding: 1rem;
    }
    .property{
        border-top:  #856d53 dotted 2px;
        margin-top: 1rem;
        .property-name{
            font-size: 1.2rem;
            color: $text-color;
            padding: 1rem;
            font-weight: bold;
            background: #fceeec;
            padding: 1rem;
            margin-top: 1rem;
        }
        .info-table,th{
            border: 1px solid #dee2e6;
            th{
                text-align: center;
                background: #4bb7d3;
                color: white;
            }
        }
    }
    .property-info{
        display: flex;
        justify-content: space-between;
        .property-img{
            width: 40%;
            height: auto;
        }
    }
    .access-btn{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        a{
            color: white;
            width: 48%;
            border-radius: .5rem;
            padding: .6rem;
            text-align: center;
        }
        .show-detail-btn{
            background: $orange;
        }
        .query-btn{
            background: $red;
        }
    }
}
/*--------
物件詳細ページ
-----------*/
.jp{
    font-size: 1rem;
    color: $show-main-color;
}
#property-show{
    width: 60%;
    margin: 0 auto;
    color: $text-color;
    letter-spacing: .1rem;
}
.main-info, .inside-page-link,.facilities, .rooms,.location,.oparation,.artical-info{
    border-bottom:$show-border-color 3px solid;
    padding: 3rem 0;
}
.main-info{
    .main-image {
        width: 100%;
        height: auto;
    }
    h1, .main-image{
        text-align: center;
        margin: 3rem 0;
    }
}
.inside-page-link{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-align: center;
    font-weight: bold;
    a{
        color: $text-color;
        text-decoration: none;
    }
    .jp{
        font-size: .7rem;
        color: $text-color;
    }
    .fa-chevron-down{
        font-size: 1.5rem;
    }
}
.facilities-color{
    color: #E5B380;
}
.rooms-color{
    color: #9BC4C0;
}
.location-color{
    color: #E6A798;
}
.oparation-color{
    color: #B6B97E;
}
.feature ,.area-info{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px $show-border-color;
    border-radius: 9px;
    .info-title{
        position: absolute;
        display: inline-block;
        top: -10px;
        left: 30px;
        padding: 0 9px;
        line-height: 1;
        color:$show-main-color;
        background: #FFF;
        font-weight: bold;
    }
    li{
        margin: 1rem 2rem;
        padding: 0 ;
    }
}

//共用部
.facilities{
    .facilities-title{
        display: flex;
        justify-content: space-between;
        .feature{
            width: 60%;
        }
    }
    .facilities-info{
        display: flex;
        justify-content: space-between;
        .images{
            width: 30%;
            flex-wrap: wrap;
        }
        .facilities-info-table{
            width: 60%;
        }
    }
}
.subpics{
    margin-top: .5rem;
    width: 95px;
    height: 80px;
}
//占有部
.rooms{
    font-weight: 600;
    .icon{
        font-size: 2.5rem;
        color: $show-main-color;
    }
    .rooms-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .requirement{
        width: 60%;
        display: flex;
        text-align: center;
        p{
            margin: 0 1rem;
        }
    }
    .number_of_vacancy{
        color:  #9BC4C0;
        font-size: 1.5rem;
    }
    .total-room{
        color: $show-main-color;
    }
    .index-room-table{
        border-color:  $show-border-color;
        text-align: center;
        margin-top: 2rem;
        th{
            color: $text-color;
            background-color: $show-border-color;
            padding: .4rem;
        }
        td{
            color: $text-color;
        }
        .jp{
            font-size: .8rem;
        }
    }
}
.modal_wrap input{
    display: none;
  }

  .modal_overlay{
    display: flex;
    justify-content: center;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(207, 202, 202, 0.8);
    transition: opacity 0.5s, transform 0s 0.5s;
    transform: scale(0);
  }

  .modal_trigger{
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .modal_content{
    align-self: center;
    width: 60%;
    max-width: 800px;
    padding: 30px 30px 15px;
    box-sizing: border-box;
    background: #fff;
    line-height: 1.4em;
    transform: scale(0.3);
    transition: 0.5s;
    border: $show-main-color 3px solid;
    h3{
        padding: .5rem 0;
        border-bottom: 2px $show-main-color solid;
    }
    .room-category{
        font-weight: 100;
    }
  }

  .close_button{
    position: absolute;
    top: 14px;
    right: 16px;
    font-size: 24px;
    cursor: pointer;
  }

  .modal_wrap input:checked ~ .modal_overlay{
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s;
  }

  .modal_wrap input:checked ~ .modal_overlay .modal_content{
    transform: scale(1);
  }

  .detail_button{
    margin: auto;
    padding: .3rem .6rem;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.6);
    background-color: $show-main-color;
    border-radius: 6px;
    cursor: pointer;
  }
//アクセス
.location-title{
    display: flex;
    justify-content: space-between;
    .station-walk{
        display: flex;
        width: 60%;
        align-items: center;
        .icon{
            font-size: 2rem;
            margin: 0 1rem;
            color: $show-main-color;
        }
        .station{
            display: flex;
        }
        .route1{
            font-size: .8rem;
        }
        .shoe-print{
            display: inline-block;
            transform: scaleX(-1);
            font-size: 1.5rem;
        }
        .walk_min{
            font-weight: bold;
            .minutes{
                color:  #E6A798;
                font-size: 1.5rem;
            }
        }
    }
}
.area-info{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
    li{
        font-weight: bold;
        .area-info-walk{
            font-size: .8rem;
        }
    }
}
//運営管理
.oparation-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
    .genre{
        font-weight: bold;
        margin-top: 1rem;
    }
    .capture{
        font-size: .8rem;
    }
    .icon{
        font-size: 3.5rem;
        color: $show-main-color;
    }
}
//問合せ
.artical-info{
    text-align: center;
    font-weight: bold;
    .inquiry{
        background-color: #F59A89;
        color: white;
        padding: 1rem 2rem;
        text-decoration: none;
        border-radius: 9px;
    }
    .jump-to-top{
        margin-top: 3rem;
        a{
            color: $show-main-color;
            text-decoration: none;
            font-size: .8rem;
        }
    }
}